.floating-modal {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: #2a2438c4; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
    z-index: 999999;
}

.modal-content {
    color: #f0f0f0; 
    text-align: center;
}

.close {
    color: #f0f0f0; 
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
}

audio {
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 8px; 
    padding: 10px;
    color: #f0f0f0; 
}

.controls {
    margin-top: 10px;
}

button {
    background-color: #3a3a3a; 
    border: none;
    color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555; 
}


audio {
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    color: #E5D9F2;
}

audio::-webkit-media-controls-panel {
    background-color: #1e1e1e;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #f0f0f0;
}


audio::-webkit-media-controls-timeline {
    background-color: #444;
}


audio::-webkit-media-controls-volume-slider {
    background-color: #444;
}

/* Responsividade */
@media (max-width: 768px) {
    .floating-modal {
        width: 250px;
        padding: 15px;
    }
    .modal-content img {
        width: 40%; /* Imagem ocupa toda a largura do modal */
        
    }
    button {
        padding: 8px;
        /* Diminuindo o padding */
        font-size: 0.9rem;
        /* Diminuindo o tamanho da fonte */
    }

    button i {
        font-size: 0.9rem;
        /* Diminuindo o tamanho dos ícones */
    }
}

@media (max-width: 480px) {
    .floating-modal {
        width: 185px;
        padding: 10px;
        bottom: 157px;
        right: 4px;
    }

    .close {
        font-size: 18px;
    }

    button {
        padding: 6px;
        /* Botões menores */
        font-size: 0.8rem;
        /* Tamanho menor da fonte */
    }

    button i {
        font-size: 0.8rem;
        /* Tamanho menor dos ícones */
    }

    audio {
        padding: 8px;
    }
}

@media (max-width: 320px) {
    .floating-modal {
        width: 150px;
        padding: 8px;
    }

    .close {
        font-size: 16px;
    }

    button {
        padding: 5px;
        /* Botões ainda menores */
        font-size: 0.7rem;
        /* Tamanho menor da fonte */
    }

    button i {
        font-size: 0.7rem;
        /* Tamanho menor dos ícones */
    }
}