header{
  background-color: #2a2438c4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
}
nav ul {
  list-style:none;
  display:flex;
  gap:20px;
}
nav ul li {
  position: relative; 
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  transition: color 0.3s ease; 
}
nav ul li a:hover {
  color: #5d2e9e; 
}
nav ul li a::after {
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width: 100%;
  height: 2px;
  background-color: #50327b;
  transform: scaleX(0); 
  transform-origin: bottom left;
  transition: transform 0.3s ease; 
}
nav ul li a:hover::after {
  transform: scaleX(1);
}
.logo-tipo{
  display: flex;
  align-items: center;
}
.logo-tipo img{
  width: 50px;
  height: 50px;
}
.lista{
  display: flex;
  align-items: center;
}
.lista ul{
  display: flex;
  justify-content: center;
}
.lista-itens{
  margin-right: 2rem;
}
.lista-link{
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.login-button button{
  border: none;
  background-color: #f8f9fa;
  color: #24252a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.15rem;
  font-weight: 400;
}
.login-button button a{
  color: #24252a;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Source Code Pro", monospace;
}
.mobile-menu-icon{
  display: none;
}
.menu-mobile{
  display: none;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  background-color: #352F44;
  color: #212529;
  margin: 0;
  padding: 0;
  background-image: url(/assets/img/fe0b06dc860c6ae67c271bb66c7bf9e9.gif);
  
}


.site-name {
  position: relative;
  background-image: url('/assets/img/jeong-yejune-6CUYzFIc7W0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; 
  padding: 21rem 2rem;
  text-align: center;
}

.site-name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.site-name h2{
  font-size: 8rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Source Code Pro", monospace;

}

@keyframes typing {
  0.0000%, 20% { content: ""; }
  1.1395%, 18.8605% { content: "C"; }
  2.2791%, 17.7209% { content: "Có"; }
  3.4186%, 16.5814% { content: "Cód"; }
  4.5581%, 15.4419% { content: "Códi"; }
  5.6977%, 14.3023% { content: "Códig"; }
  6.8372%, 13.1628% { content: "Códigos"; }

  21%, 40% { content: ""; }
  22.1395%, 38.8605% { content: "S"; }
  23.2791%, 37.7209% { content: "So"; }
  24.4186%, 36.5814% { content: "Sol"; }
  25.5581%, 35.4419% { content: "Solu"; }
  26.6977%, 34.3023% { content: "Soluç"; }
  27.8372%, 33.1628% { content: "Soluções"; }

  41%, 60% { content: ""; }
  42.1395%, 58.8605% { content: "C"; }
  43.2791%, 57.7209% { content: "Co"; }
  44.4186%, 56.5814% { content: "Con"; }
  45.5581%, 55.4419% { content: "Connhe"; }
  46.6977%, 54.3023% { content: "Conheci"; }
  47.8372%, 53.1628% { content: "Conhecimento"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 100px;
}

.typewriter::before {
  content: "";
  animation: typing 10s infinite; 
  color:rgb(215, 157, 248);
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: infinite;
  }

  @keyframes sequencePopup {
    0%, 100% { content: "Conhecimento"; }
    25% { content: "Códigos"; }
    50% { content: "Soluções"; }
    75% { content: ""; }
  }

  .typewriter::before {
    content: "Conhecimento";
    animation: sequencePopup 5s linear infinite;
    
  }
}


.team {
  padding: 4rem 6rem;
  text-align: center;
  color: #E5D9F2;
}


.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: #E5D9F2 1px solid;
  background-color: #E5D9F2;
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem;
  width: 12%;
  height: 348px;

}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.1rem;
}

.card a:hover {
  text-decoration: underline;
}


.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  background-color: #E5D9F2;
  float: right;
}

.about {
  flex: 1;
  margin-right: 2rem;
  text-align: center;
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: auto;
  float: inline-end;
}

.about h2 {
  font-size: 2rem;
  color: #343a40;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.2rem;
  color: #6c757d;
}

.footer {
  background-color: #2A2438;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.footer p {
  margin: 0px;
  
}

.footer a {
  display: flex;
  color: #007bff;
  text-decoration: none;
  justify-content: center;
}

.footer a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #E5D9F2;
}

::-webkit-scrollbar-thumb {
  background: #411E8F;

}